<div class="info">
  <div class="mat-headline-6 pt-3">
    Worum geht es?
  </div>

  <div class="mat-body-1">
    Wir spielen Volleyball mit einer tollen Community!
  </div>
  <div class="info-text">
    <div class="mat-body-1">
      Dieses Angebot ist für alle, die ein Interesse an Volleyball haben!
      Es kann jeder mitspielen, unabhängig von Können, Alter, Geschlecht und Größe, bei uns ist jeder willkommen.
    </div>
    <div class="mat-body-1">
      Unsere regelmäßigen Treffen bieten eine großartige Gelegenheit, neue Leute kennenzulernen und gemeinsam Spaß
      am Volleyball zu haben. Wir legen Wert auf Fair Play und Teamarbeit, und unser Hauptziel ist es, die Freude am
      Spiel
      zu teilen.
    </div>
    <div class="mat-body-1">
      Deshalb ermutigen wir auch Anfänger, sich uns anzuschließen, da wir immer bereit sind, Tipps und Ratschläge zu
      geben,
      um dein Spiel zu verbessern.
    </div>
    <div class="mat-body-1">
      Die Kosten belaufen sich für dich dabei auf 7,00€, bzw. 10,00€ im Monat. Da wir immer zwei Zeitslots spielen,
      bezahlst du 7,00€, falls du nur an einem dieser Slots teilnimmst. Solltest du aber an beiden teilnehmen wollen,
      beträgt der Preis 10,00€.
    </div>
    <div class="mat-body-1">
      Wir freuen uns auf dich! :)
    </div>
  </div>

  <div class="mat-headline-6 pt-2">
    Wo kann ich euch finden?
  </div>

  <div class="mat-body-1">
    Lychener Straße 75, 10437 Berlin
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1080.7923241561284!2d13.420903096563435!3d52.54615847055237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84dff4d32db4d%3A0x5076a90439230c12!2sSport%20Jugend%20Zentrum%20(SJZ)%20Lychi!5e0!3m2!1sde!2sde!4v1698338938655!5m2!1sde!2sde"
    width="100%"
    height="400px"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">

  </iframe>
  <div class="maps-iframe">

  </div>

  <div class="mat-headline-6 pt-2">
    Wann spielen wir?
  </div>
  <div>
    Immer Freitags und Samstags
  </div>


  <div class="pt-3 tile-content">
    <table>
      <tr>
        <td class="mat-body-strong time-table">Freitag</td>
        <td class="mat-body-1">18:30 Uhr - 20:30 Uhr</td>
      </tr>
      <tr>
        <td></td>
        <td class="mat-body-1">20:30 Uhr - 22:30 Uhr</td>
      </tr>
    </table>

    <table class="pt-3">
      <tr>
        <td class="mat-body-strong time-table">Samstag</td>
        <td class="mat-body-1">13:00 Uhr - 15:30 Uhr</td>
      </tr>
      <tr>
        <td></td>
        <td class="mat-body-1">15:30 Uhr - 18:00 Uhr</td>
      </tr>
    </table>


  </div>


  <div class="mat-headline-6 pt-3">
    Wer sind meine Ansprechpartner?
  </div>

  <div class="images-container">
    <table class="contact-table pt-3">
      <tr>
        <td>
          <img src="assets/images/louis.jpg"
               alt="Louis"
               class="contact-photo">
        </td>
        <td>
          <img src="assets/images/paul.jpg"
               alt="Paul"
               class="contact-photo">
        </td>
      </tr>
      <tr>
        <td class="mat-body-strong">
          Louis
        </td>
        <td class="mat-body-strong">
          Paul
        </td>
      </tr>
      <tr>
        <td>
          Kontakt: 0123 4567 8900
        </td>
        <td>
          Kontakt: 0123 4567 8900
        </td>
      </tr>
    </table>
  </div>
</div>
